$primary: #5271ff;
$secondary: #ff5757;

$transparent: transparent;

$addColors: (
  "primary": (
    $primary,
    $white,
  ),
  "secondary": (
    $secondary,
    $white,
  ),
  "transparent": (
    $transparent,
    $black,
  ),
);
