<template>
  <form @submit.prevent="edit">
    <div class="modal-card" style="width: 450px">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Log App</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Message">
          <b-input
            v-model="log.message"
            required />
        </b-field>
        <b-field label="Json">
          <b-input
            type="textarea"
            v-model="log.jsonb"/>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <b-button
          label="Close"
          @click="$emit('close')" />
        <b-button
          label="Edit"
          type="is-primary"
          native-type="submit"
        />
      </footer>
    </div>
  </form>
</template>

<script>
import { Create } from '@/api/log';

export default {
  props: {
    currentLog: {
      type: Object,
    },
  },
  data() {
    return {
      log: {
        message: '',
        jsonb: `{
          "glossary": {
              "title": "example glossary",
            "GlossDiv": {
                    "title": "S",
              "GlossList": {
                        "GlossEntry": {
                            "ID": "SGML",
                  "SortAs": "SGML",
                  "GlossTerm": "Standard Generalized Markup Language",
                  "Acronym": "SGML",
                  "Abbrev": "ISO 8879:1986",
                  "GlossDef": {
                                "para": "A meta-markup language, used to create markup languages such as DocBook.",
                    "GlossSeeAlso": ["GML", "XML"]
                            },
                  "GlossSee": "markup"
                        }
                    }
                }
            }
        }`,
      },
    };
  },
  methods: {
    async edit() {
      const loadingComponent = this.$buefy.loading.open({
        container: this.$el,
      });
      try {
        await Create({
          ...this.log,
          jsond: JSON.parse(this.log.jsonb),
          appid: this.$route.params.id,
        });
        this.$emit('close');
        this.$emit('update');
        loadingComponent.close();
      } catch (error) {
        loadingComponent.close();
        this.errorToast(error);
      }
    },
  },
  mounted() {
  },
};
</script>

<style>

</style>
