<template>
  <form @submit.prevent="edit">
    <div class="modal-card" style="width: 450px">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit App</p>
      </header>
      <section class="modal-card-body">
        <b-field
          label="Client Id">
          <b-input
            v-model="app.clientId"
            required
            pattern=".{8,}"
            validation-message="Must contain at least 8 characters"
          />
        </b-field>
        <b-field
          label="Client Secret">
          <b-input
            v-model="app.clientSecret"
            required
            pattern=".{15,}"
            validation-message="Must contain at least 15 characters"
          />
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <b-button
          label="Close"
          @click="$emit('close')" />
        <b-button
          label="Edit"
          type="is-primary"
          native-type="submit"
        />
      </footer>
    </div>
  </form>
</template>

<script>
import { CreateClient } from '@/api/client';

export default {
  props: {
    currentApp: {
      type: Object,
    },
  },
  data() {
    return {
      app: {
        clientId: '',
        clientSecret: '',
      },
    };
  },
  methods: {
    async edit() {
      const loadingComponent = this.$buefy.loading.open({
        container: this.$el,
      });
      try {
        await CreateClient({
          ...this.app,
          grants: ['password'],
          redirectUris: ['http://test.oauth.com'],
        });
        this.$emit('close');
        this.$emit('update');
        loadingComponent.close();
      } catch (error) {
        loadingComponent.close();
        this.errorToast(error);
      }
    },
  },
  mounted() {
  },
};
</script>

<style>

</style>
