<template>
  <div>
    <div class="box">
      <div class="level">
        <div class="level-left">
          <p class="has-text-weight-semibold is-size-5">My applications</p>
        </div>
        <div class="level-right">
          <a class="button is-primary" @click="modalEdit = true">
            <strong>Add</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="box">
      <b-table
        :data="data">
        <template v-for="column in columns">
          <b-table-column :key="column.id" v-bind="column">
            <template
              v-slot="props">
              <div v-if="column.field === 'actions'">
                <div class="buttons is-justify-content-flex-end">
                  <a
                    class="button is-secondary"
                    @click="$router.push({
                      name: 'LogAppById',
                      params: { id: props.row.clientId }
                    })">
                    <b-icon
                      icon="format-list-numbered"
                      size="is-small">
                    </b-icon>
                  </a>
                </div>
              </div>
              <div v-else-if="props.row.update">
                <form @submit.prevent="props.row.update = false">
                  <b-field style="width: 200px">
                    <b-input
                      v-model="props.row.name"
                      placeholder="Name app">
                    </b-input>
                  </b-field>
                </form>
              </div>
              <div v-else>
                {{ props.row[column.field] }}
              </div>
            </template>
          </b-table-column>
        </template>
      </b-table>
    </div>
    <b-modal
      v-model="modalEdit"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal>
      <template #default="props">
        <EditApp
          @close="props.close"
          @update="init"/>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { GetClients } from '@/api/client';
import EditApp from './EditApp.vue';

export default {
  name: 'Home',
  components: {
    EditApp,
  },
  data() {
    return {
      data: [],
      columns: [
        {
          field: 'clientId',
          label: 'Client id',
        },
        {
          field: 'clientSecret',
          label: 'Client Secret',
        },
        {
          field: 'actions',
          label: 'Actions',
          numeric: true,
        },
      ],
      nameApp: '',
      modalEdit: false,
    };
  },
  methods: {
    deleteApp(id) {
      const index = this.data.findIndex((el) => el.id === id);
      if (index !== -1) this.data.splice(index, 1);
    },
    async init() {
      const loadingComponent = this.$buefy.loading.open({
        container: this.$el,
      });
      try {
        const res = (await GetClients()).data;
        this.data = res.data;
        loadingComponent.close();
      } catch (error) {
        loadingComponent.close();
        this.errorToast(error);
      }
    },
  },
  mounted() {
    this.init();
  },
};
</script>
