<template>
  <div>
    <Navbar/>
    <section class="container py-4">
      <router-view/>
    </section>
  </div>
</template>

<script>
import Navbar from '@/components/general/Navbar.vue';

export default {
  components: {
    Navbar,
  },
};
</script>
