<template>
  <div>
    <div class="box">
      <div class="level">
        <div class="level-left">
          <p class="has-text-weight-semibold is-size-5">List log app</p>
        </div>
        <div class="level-right">
          <a class="button is-primary" @click="modalEdit = true">
            <strong>Add</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="box">
      <b-table
        :data="data">
        <template v-for="column in columns">
          <b-table-column :key="column.id" v-bind="column">
            <template
              v-slot="props">
              <div v-if="column.field === 'actions'">
                <div class="buttons is-justify-content-flex-end">
                  <a class="button is-secondary" @click="currentLog = props.row">
                    <b-icon
                      icon="eye"
                      size="is-small">
                    </b-icon>
                  </a>
                  <!-- <a class="button is-success" @click="selectToEdit(props.row)">
                    <b-icon
                      icon="pencil"
                      size="is-small">
                    </b-icon>
                  </a>
                  <a class="button is-danger" @click="deleteApp(props.row.id)">
                    <b-icon
                      icon="delete"
                      size="is-small">
                    </b-icon>
                  </a> -->
                </div>
              </div>
              <div v-else class="trunc">
                {{ props.row[column.field] }}
              </div>
            </template>
          </b-table-column>
        </template>
      </b-table>
    </div>
    <b-modal
      v-model="modalEdit"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal>
      <template #default="props">
        <EditLog
          @close="props.close"
          @update="init"/>
      </template>
    </b-modal>
    <b-modal
      v-model="modalView"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal>
      <template #default="props">
        <ViewLog
          @close="props.close; currentLog = null"
          :current-log="currentLog"/>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { GetLogsClient } from '@/api/client';
import EditLog from './EditLog.vue';
import ViewLog from './ViewLog.vue';

export default {
  name: 'Home',
  components: {
    EditLog,
    ViewLog,
  },
  data() {
    return {
      data: [],
      columns: [
        {
          field: 'message',
          label: 'message Log',
          cellClass: 'truncate',
        },
        {
          field: 'actions',
          label: 'Actions',
          numeric: true,
        },
      ],
      modalEdit: false,
      currentLog: null,
    };
  },
  computed: {
    modalView: {
      get() {
        return !!this.currentLog;
      },
      set(val) {
        if (!val) this.currentLog = null;
      },
    },
  },
  methods: {
    deleteApp(id) {
      const index = this.data.findIndex((el) => el.id === id);
      if (index !== -1) this.data.splice(index, 1);
    },
    selectToEdit(item) {
      this.currentLog = item;
      this.modalEdit = true;
    },
    async init() {
      const loadingComponent = this.$buefy.loading.open({
        container: this.$el,
      });
      try {
        const res = (await GetLogsClient(this.$route.params.id)).data;
        this.data = res.data;
        loadingComponent.close();
      } catch (error) {
        loadingComponent.close();
        this.errorToast(error);
      }
    },
  },
  mounted() {
    this.init();
  },
};
</script>
