<template>
  <div>
    <div class="modal-card" style="width: 450px">
      <header class="modal-card-head">
        <p class="modal-card-title">View Log App</p>
      </header>
      <section class="modal-card-body">
        <pre>
          {{currentLog}}
        </pre>
      </section>
      <footer class="modal-card-foot">
        <b-button
          label="Close"
          @click="$emit('close')" />
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    currentLog: {
      type: Object,
    },
  },
  data() {
    return {
      log: {
        message: '',
        jsonb: `{
          "glossary": {
              "title": "example glossary",
            "GlossDiv": {
                    "title": "S",
              "GlossList": {
                        "GlossEntry": {
                            "ID": "SGML",
                  "SortAs": "SGML",
                  "GlossTerm": "Standard Generalized Markup Language",
                  "Acronym": "SGML",
                  "Abbrev": "ISO 8879:1986",
                  "GlossDef": {
                                "para": "A meta-markup language, used to create markup languages such as DocBook.",
                    "GlossSeeAlso": ["GML", "XML"]
                            },
                  "GlossSee": "markup"
                        }
                    }
                }
            }
        }`,
      },
    };
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style>

</style>
