<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form @submit.prevent="login" class="box">
              <a class="">
                <img width="" src="@/assets/img/LogApp.svg" alt="Logo">
              </a>
              <b-field label="Username">
                <b-input
                  v-model="user.username"
                  required/>
              </b-field>
              <b-field label="Password">
                <b-input
                  v-model="user.password"
                  required/>
              </b-field>
              <div class="field">
                <button class="button is-secondary">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapMutations } from 'vuex';
import { GetToken } from '@/api/oauth';

export default {
  data() {
    return {
      user: {
        grant_type: 'password',
        username: 'ayPmarI8K',
        password: 'j1234',
      },
    };
  },
  methods: {
    ...mapMutations({
      actionSetDataAuth: 'SET_DATA_AUTH',
    }),
    async login() {
      const loadingComponent = this.$buefy.loading.open({
        container: this.$el,
      });
      try {
        const res = (await GetToken(this.user)).data;
        this.actionSetDataAuth(res.data);
        this.$router.push('/');
        loadingComponent.close();
      } catch (error) {
        loadingComponent.close();
        this.errorToast(error);
      }
    },
  },
};
</script>

<style>

</style>
