<template>
    <b-navbar
      shadow
    >
      <template #brand>
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <img
            src="@/assets/img/LogApp.svg"
            width="150px"
          >
        </b-navbar-item>
      </template>
      <template #start>
        <b-navbar-item @click="$router.push('/')">
          Home
        </b-navbar-item>
        <!-- <b-navbar-item @click="$router.push('/log-app')">
          Logs
        </b-navbar-item> -->
      </template>

      <template #end>
        <b-navbar-item tag="div">
          <div class="buttons">
            <a class="button is-primary" @click="logout">
              <strong>Log out</strong>
            </a>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  computed: {
  },
  methods: {
    ...mapMutations({
      actionReset: 'RESET',
    }),
    logout() {
      this.actionReset();
      this.$router.push('/connexion');
    },
  },
};
</script>

<style>

</style>
